@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-dourado: #536ec8;
  --cor-dourado-claro: #faf3e5;
  --cor-preto: #000000;
  --cor-carvao: #1E1E1E;
  --cor-branco-neve: #FAFAFA;
  --cor-cinza-neutro: #A6A6A6;
  --cor-azul-claro: #E9F0F8;

  --color-primary: #5f53c8;
  --color-background: #00000098;
  --color-primary-dark: #24242498;
}

.font-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-texto {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-link {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-preto-sifferone {
  background: var(--cor-preto);
}

